{{!-- handlebars is basically just html that has not been rendered until it is sent by the server to the user --}}
{{!-- packages it - renders it (takes out handlebars and replaces it with html) - sends it --}}

{{!-- header --}}
<div class="container">
    <div class="jumbotron" id="jumbo-bg">
        <h1 class="display-3" id="camping">PACK YOUR BAGS</h1>
        <p class="lead">We're going camping! Add an item to the list so we can make sure to pack it...</p>
        <hr class="my-2">
        <div id="tent-wrapper">
        <img src="/assets/img/tent.png" alt="tent" width="200" height="200">
        </div>
    </div>
  </div>

    {{!-- main content --}}
    <div class="col-xs-6 text center" class="task">
        <div class="row">
            {{#each backpack_data}}
            {{!-- each is basically a for loop --}}
            {{#unless this.packed}}

            {{!-- unless is a condition. If it meets all conditions, skip it  --}}

            <div class="col-md-9 text-center border border-primary">
                {{!-- 'this' is referring to what created it, backpack_data in this case --}}
                <pre>{{this.id}}. {{this.backpack_item}}</pre>
            </div>
            <div class="col-md-3 text-center">
                <form method="POST" action="/backpacks/update?_method=PUT" class="button-size">
                    <input type="hidden" name="backpack_id" type="text" value={{this.id}}>
                    <br>
                    <button type="submit" class="btn btn-default">
                        PACK IT! </button>
                </form>
            </div>
            {{/unless}}
            {{/each}}
        </div>
    </div>

    <div class="col-xs-6 text-center" class="task">
        {{#each backpack_data}}
        {{#if this.packed}}
        {{!-- if is a condition, if it meets all conditions - do it --}}
        <input class="form-control" type="text" placeholder="{{this.id}}. {{this.backpack_item}}" readonly>
        {{/if}}
        {{/each}}
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center enter_section">
            <form action="/backpacks/create" method="POST">
                <input type="text" name="backpack_item" class="form-control" value="" id="enter-text">
                <button type="submit" class="btn btn-primary" id="text-enter-button">PACK</button>
            </form>
            <p>Enter am item to bring it camping!</p>
        </div>
    </div>
</div>