{{!-- header --}}
<div class="container">
    <div class="jumbotron" id="jumbo-bg">
        <h1 class="display-3" id="camping">PACK YOUR BAGS</h1>
        <p class="lead">We're going camping! Add an item to the list so we can make sure to pack it...</p>
        <hr class="my-2">
        <div id="tent-wrapper">
            <img src="/assets/img/tent.png" alt="tent" width="200" height="200">
        </div>
    </div>
</div>

{{!-- input field --}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 text-center enter_section">
            <form action="/backpacks/create" method="POST">

                <input type="text" name="backpack_item" class="form-control" value="" id="enter-text">
                <button type="submit" class="btn btn-success" id="text-enter-button">ADD IT!</button>

            </form>
            <p>Enter an item to add it to the packing list</p>
        </div>
    </div>
</div>
{{!-- main content --}}
<div class="col-xs-12 text center" class="task">
    <div class="row justify-content-center">
        {{#each backpack_data}}
        {{#unless this.packed}}

        <div class="col-xs-6 col-sm-6 col-md-6 text-center">
            <pre>{{this.id}}. {{this.backpack_item}}</pre>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 text-center">
            <form method="POST" action="/backpacks/update?_method=PUT" class="button-size">
                <input type="hidden" name="backpack_id" type="text" value={{this.id}}>
                <br>
                <button type="submit" class="btn btn-success">
                    PACK IT! </button>
            </form>
        </div>
        {{/unless}}
        {{/each}}
    </div>
</div>

<br><br>
<div class="col-xs-12 text-center" class="task">
    {{#each backpack_data}}
    {{#if this.packed}}
    <input class="form-control" type="text" placeholder="{{this.id}}. {{this.backpack_item}}" readonly>
    {{/if}}
    {{/each}}
</div>
</div>